:not(pre) > code,
pre {
  font-family: aglet-mono;
  font-size: 0.85em;

  padding: {
    left: 0.2rem;
    right: 0.2rem;
  }

  border-radius: 8px;

  border: 1px solid rgba(#ff416a, 0.5);
  background-color: rgba(#ff416a, 0.05);
  @media (prefers-color-scheme: dark) {
    border: 1px solid rgba(#ff416a, 0.25);
    background-color: rgba(#ff416a, 0.05);
  }
}

pre {
  padding: 0.5rem;
  line-height: 1.5;
  overflow-x: auto;

  > code {
    display: block;
  }
}
