h1 {
  font-feature-settings: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ff416a;

  border-top: 3px solid;
  padding-top: 1rem;

  margin: {
    top: 4rem;
    bottom: 2rem;
  }
}
