html {
  font-size: 21px;
}

$viewport-padding: 2rem;
$viewport-width: 28rem;

body {
  font-family: bree;
  font-weight: 300;
  font-feature-settings: "ss01";
  line-height: 1.6;

  padding: $viewport-padding;
  max-width: $viewport-width + $viewport-padding * 2;
  margin: {
    left: auto;
    right: auto;
  }
}
