<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ .Title }} · {{ .Site.Title }}</title>

{{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS | fingerprint }}


<link
  rel="stylesheet"
  href="{{ $styles.Permalink }}"
  integrity="{{ $styles.Data.Integrity }}"
/>

<script src="https://unpkg.com/quicklink@2.0.0/dist/quicklink.umd.js"></script>
<script src="https://unpkg.com/anchor-js@4.3.1/anchor.min.js"></script>

<script>
  window.onload = () => {
    quicklink.listen();
  };

  document.addEventListener("DOMContentLoaded", function (event) {
    anchors.add("main h1");
  });
</script>
